# Python
*.pyc
__pycache__/
*.egg-info/
build/
dist/

# Virtual environments
.venv/

# Test and coverage
.coverage*
coverage.xml
coverage_html_report/
.pytest_cache/
.hypothesis/

# Tooling
.ruff_cache/
.mypy_cache/
.DS_Store

# Docs
docs/_build/
